<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<head>
   <link rel="stylesheet" href="/stylesheets/loginRegister.css">

</head>

<body>
   <%- include('../partials/headerNav') %>



   <div class="container">
      <div class="row">

         <div class="col-12 col-md-6 offset-md-3 columna">
            <div class="formulario">
               <h1>EDITAR PERFIL</h1>
               <section class="log-reg">
                              
                  <% function buscarError(name){
                  if(typeof errors != 'undefined'){
                        let error = errors.filter(function(error){
                           return error.param == name;
                        });
                        if(error.length == 0){
                           let error = [{
                           value: '',
                           msg: '',
                           param: '',
                           location: ''
                        }
                        ];
                        return error;
                        }
                     return error;
                  }else{
                        let error = [{
                           value: '',
                           msg: '',
                           param: '',
                           location: ''
                        }
                        ];
                        return error;
                  }
               }
               %>
                  <form class="register" action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                     <label for="country">
                        <h3>País de residencia (Solo Sudamerica):</h3>
                     </label>
                     <select name="country" id="country" class="input country" required>
                        <option value=<%=user[0].country%>><%=user[0].country%></option>
                     </select>
                     
                     <label for="firstName">
                        <h3>Nombre (*):</h3>
                     </label>
                     <input class="input firstName" type="text" required id="firstName" name="firstName" value="<%= (typeof datos != 'undefined') ? datos.firstName : user[0].firstName  %>">
                     <span class="firstName" style="color: red;font-size: 12px;"><%= buscarError('firstName')[0].msg %></span>
                     <label for="last_name">
                        <h3>Apellido (*):</h3>
                     </label>
                     <input class="input lastName" type="text" required id="lastName" name="lastName" value="<%= (typeof datos != 'undefined') ? datos.lastName : user[0].lastName %>">
                     <span class="lastName" style="color: red;font-size: 12px;"><%= buscarError('lastName')[0].msg %></span>
                     <label for="email">
                        <h3>Email (*):</h3>
                     </label>
                     <input class="input email" type="email" required id="email" name="email" value="<%= (typeof datos != 'undefined') ? datos.email : user[0].email  %>">
                     <span class="email" style="color: red;font-size: 12px;"><%= buscarError('email')[0].msg %></span>
                     <label for="phone">
                        <h3>Telefono:</h3>
                     </label>
                     <input class="input phone" type="tel" required id="phone" name="phone" value="<%= (typeof datos != 'undefined') ? datos.phone : user[0].phone  %>">
                     <span class="phone" style="color: red;font-size: 12px;"><%= buscarError('phone')[0].msg %></span>
                     <label for="password">
                        <h3>Contraseña (*):</h3>
                     </label>
                     <input class="input password" type="password" required id="password" name="password" value="">
                     <span class="password" style="color: red;font-size: 12px;"><%= buscarError('password')[0].msg %></span>
                     <label for="passwordConfirm">
                        <h3>Confirmar contraseña (*):</h3>
                     </label>
                     <input class="input passwordConfirm" type="password" required id="passwordConfirm" name="passwordConfirm">
                     <span class="passwordConfirm" style="color: red;font-size: 12px;"><%= buscarError('passwordConfirm')[0].msg %></span>
                     <label for="avatar">
                        <h3>Imágen de perfil:</h3>
                     </label>
                     <input class="input" type="file" name="avatar">
                     <span style="color: red;font-size: 12px;"><%= buscarError('avatar')[0].msg %></span>
                     <div class="align"><input class="btn-login black" type="submit" value="GUARDAR CAMBIOS"></div>
                  </form>

               </section>
            </div>
         </div>
      </div>
   </div>





   <%- include('../partials/footer') %>
   <script src="/javascripts/validateUser.js"></script>
   <script src="/javascripts/fetchCountry.js"></script>
</body>

</html>