<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<head>
   <link rel="stylesheet" href="/stylesheets/loginRegister.css">

</head>

<body>
   <%- include('../partials/headerNav') %>



   <div class="container">
      <div class="row">

         <div class="col-12 col-md-6 offset-3 columna">
            <div class="formulario">
               <h1>CREAR NUEVA CUENTA</h1>
               <!--<HR style="height:1px;border-width:0;color:gray;background-color:gray"></HR>-->

               <section class="log-reg">
                              
                  <% function buscarError(name){
                  //console.log("buscarError");
                  if(typeof errors != 'undefined'){
                        let error = errors.filter(function(error){
                           return error.param == name;
                        });
                        //console.log(errors);
                        if(error.length == 0){
                           let error = [{
                           value: '',
                           msg: '',
                           param: '',
                           location: ''
                        }
                        ];
                        //console.log(error);
                        return error;
                        }
                        return error;
                  }else{
                        let error = [{
                           value: '',
                           msg: '',
                           param: '',
                           location: ''
                        }
                        ];
                        //console.log(error);
                        return error;
                  }
               }
               %>
                  <form action="/users/register" method="POST" enctype="multipart/form-data">
                     <label for="firstName">
                        <h3>Nombre (*):</h3>
                     </label>
                     <input type="text" required id="firstName" name="firstName" value="<%= (typeof datos != 'undefined') ? datos.firstName : ''  %>">
                     <span style="color: red;font-size: 12px;"><%= buscarError('firstName')[0].msg %></span>
                     <label for="lastName">
                        <h3>Apellido (*):</h3>
                     </label>
                     <input type="text" required id="lastName" name="lastName" value="<%= (typeof datos != 'undefined') ? datos.lastName : ''  %>">
                     <span style="color: red;font-size: 12px;"><%= buscarError('lastName')[0].msg %></span>
                     <label for="email">
                        <h3>Email (*):</h3>
                     </label>
                     <input type="email" required id="email" name="email" value="<%= (typeof datos != 'undefined') ? datos.email : ''  %>">
                     <span style="color: red;font-size: 12px;"><%= buscarError('email')[0].msg %></span>
                     <label for="phone">
                        <h3>Telefono:</h3>
                     </label>
                     <input type="tel" required id="phone" name="phone" value="<%= (typeof datos != 'undefined') ? datos.phone : ''  %>">
                     <span style="color: red;font-size: 12px;"><%= buscarError('phone')[0].msg %></span>
                     <label for="password">
                        <h3>Contraseña (*):</h3>
                     </label>
                     <input type="password" required id="password" name="password" value="">
                     <span style="color: red;font-size: 12px;"><%= buscarError('password')[0].msg %></span>
                     <label for="passwordConfirm">
                        <h3>Confirmar contraseña (*):</h3>
                     </label>
                     <input type="password" required id="passwordConfirm" name="passwordConfirm">
                     <span style="color: red;font-size: 12px;"><%= buscarError('passwordConfirm')[0].msg %></span>
                     <label for="avatar">
                        <h3>Imágen de perfil:</h3>
                     </label>
                     <input type="file" name="avatar">

                     <div class="align"><input class="btn-login black" type="submit" value="CREAR CUENTA"></div>
                  </form>

               </section>
            </div>
         </div>
      </div>
   </div>





   <%- include('../partials/footer') %>
</body>

</html>