<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>

<body>
  <%- include('./partials/headerNav') %>



<DIV class="container marginFooter">
  <div class="row">
    <div><H1>CARRITO DE COMPRAS</H1></div>
  </div>
  
  <div class="row">

    <div class="col-9">
      <table border="0" align="left" class="table table-hover" style="width: 100%;">
        <thead>
          <tr align="left">
            <th scope="col"><h3>#</h3></th>
            <th scope="col" colspan="2"><h3>PRODUCTO</h3></th>
            <th scope="col"><h3>PRECIO</h3></th>
            <th scope="col"><h3>DESCUENTO</h3></th>
            <th scope="col"><h3>CANT</h3></th>
            <th scope="col" colspan="2"><h3>SUBTOTAL</h3></th>
          </tr>
        </thead>
        <tbody>
          <% 
          console.log("empty es: "+empty);
          if (empty==0)
          {
          var totalDiscount,subtotal,taxes,total=0;
          var idCart=product[0].cart_id;
          for(let i=0; i<product.length; i++){ %>
          <tr>
            <td scope="row"><%=i+1%></td>
            <td width="55"> <figure>
              <img src="/images/products/<%=product[i].image%>" style="width:50px;" alt="imagen de <%=product[i].name%>">
            </figure></td>
            <td><%=product[i].name%></td>
            <% if(product[i].discount!="0") {%>
            <td>$<%=product[i].price%> <span class="cart-discount"><%=product[i].discount%>% OFF</span></td>
            <% 
            //Da NaN xq el JSON devuelve los numeros como strings, pero desde la BD devolvera integer, lo ajusto luego
            totalDiscount=Number(totalDiscount)+(Number(product[i].price)*Number(product[i].units))*Number(product[i].discount)/100;
            console.log("discountt "+totalDiscount);
            subtotal=subtotal+((product[i].price*product[i].units)-((product[i].price*product[i].units)*product[i].discount/100));
            %> 

            <td>$<%=(product[i].price*product[i].units)*product[i].discount/100%></td>
            <% } else {
            subtotal=subtotal+((product[i].price*product[i].units)-((product[i].price*product[i].units)*product[i].discount/100));
            %>
              <td>$<%=product[i].price%></td>
              <td>$<%=(product[i].price*product[i].units)*product[i].discount/100%></td>
            <% }%>
                     
            <td><span><a href="/cart/minus/<%=product[i].id%>"><i class='fas fa-minus'></i></a></span>&nbsp;<span class="orange" style="height: 30px;padding:3px"><%=product[i].units%></span>&nbsp;<span><a href="/cart/plus/<%=product[i].id%>"><i class='fas fa-plus'></i></a></span></td>
            <td>$<%=((product[i].price*product[i].units)-((product[i].price*product[i].units)*product[i].discount/100))%></td>
            <td class="td-accion"><a href="/cart/remove/<%=product[i].id%>"><i class='fas fa-trash-alt'></i></a></td>
          </tr>
          <%}%>
         <%
         taxes=Number(subtotal)*21/100;
         console.log("IMPUestos: " + taxes);
         console.log("subtotal: " + subtotal);
         total=subtotal+taxes;
         console.log("total: " + total);
        }
        else
        {
          //carrito vacio
        
         %>
         <tr align="left">
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th> 
          <th>&nbsp;</th>
        </tr>
        <% } %>
        </tbody>
      </table>


    </div>
   
    
    <div class="col-12 col-lg-3">
<div style="border: black 1px solid;"><table border="0" style="width: 100%;" >
  <tr><th colspan="2" ><h3>RESUMEN DE COMPRA</h3></th></tr>
  <tr>
      <td>Subtotal</td>
      <td>$<%=subtotal%></td>
  </tr>
  <tr>
    <td>Impuestos</td>
    <td>$<%=taxes%></td>
  </tr>
  <tr>
    <td>Descuentos</td>
    <td>$<%=totalDiscount%></td>
  </tr>
  <tr>
    <td><h4>Total del Pedido</h4></td>
    <td><h4>$<%=total%></h4></td>
  </tr>
  <%
  console.log("empty2:" + empty);
  if (Number(empty)==0) {%>
  <tr align="center">
    <td colspan="2"><button class="btn-orange" onclick="location.href='/cart/confirm/<%=idCart%>'">CONFIRMAR SU PEDIDO <%=idCart%></button></td>
  </tr>
  <%}%>
</table></div>

      </div>
  </div>


 </DIV>

 <%- include('./partials/footer') %>
</body>
</html>

