<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pick Bazar</title>
  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Bootstrap Grid Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
  <!-- Own Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    td {
      border-bottom: 1px solid black;
      height: 25px; 
    }
    .td-accion{
      text-align: right;
    }
    th{
      border-bottom: 2px solid black;
    }
    .orange{
      border:orange solid 1px;
      margin: 2px;
      width: 20px;
      height: 20px;
      color: black;
      text-align: center;
    }
  .cart-discount{
    color:orange;
    vertical-align:super;  
  }
 .btn-orange{
   COLOR:WHITE;
   background-color: orange;
   text-align: center;
   border:orange solid 1px;
   text-decoration: solid;
   width: 100%;
   height: 35px;
 }
    .orange{
      color:#F58220;
      width: 28px;
    }

.marginFooter{
  margin-bottom: 60px;
}

    </style>
</head>

<body>
  <%- include('./partials/headerNav') %>



<DIV class="container marginFooter">
  <div class="row">
    <div><H1>CARRITO DE COMPRAS</H1></div>
  </div>
  
  <div class="row">

    <div class="col-9">
      <table border="0" align="left" class="table table-hover" style="width: 100%;">
        <thead>
          <tr align="left">
            <th scope="col"><h3>#</h3></th>
            <th scope="col" colspan="2"><h3>PRODUCTO</h3></th>
            <th scope="col"><h3>PRECIO</h3></th>
            <th scope="col"><h3>DESCUENTO</h3></th>
            <th scope="col"><h3>CANT</h3></th>
            <th scope="col" colspan="2"><h3>SUBTOTAL</h3></th>
          </tr>
        </thead>
        <tbody>
          <% 
          var totalDiscount,subtotal,taxes,total=0;
          for(let i=0; i<cart.product.length; i++){ %>
          <tr>
            <td scope="row"><%=i+1%></td>
            <td width="55"> <figure>
              <img src="/images/products/<%=cart.product[i].name%>" style="width:50px;" alt="imagen de <%=cart.product[i].name%>">
            </figure></td>
            <td><%=cart.product[i].name%></td>
            <% if(cart.product[i].discount!=0) {%>
            <td>$<%=cart.product[i].price%> <span class="cart-discount"><%=cart.product[i].discount%>% OFF</span></td>
            <% 
           totalDiscount=totalDiscount+(cart.product[i].price*cart.cart_item.units)*cart.product[i].discount/100;
            subtotal=subtotal+((cart.product[i].price*cart.cart_item.units)-((cart.product[i].price*cart.cart_item.units)*cart.product[i].discount/100));
            %> 

            <td>$<%=(cart.product[i].price*cart.cart_item.units)*cart.cart_item.discount/100%></td>
            <% } else {
            subtotal=subtotal+((cart.product[i].price*cart.cart_item.units)-((cart.product[i].price*cart.cart_item.units)*cart.product[i].discount/100));
            %>
              <td>$<%=cart.product[i].price%></td>
              <td>$<%=(cart.product[i].price*cart.cart_item.units)*cart.product[i].discount/100%></td>
            <% }%>
                     
            <td><span><a href="/cart/minus/<%=cart.cart_item.id%>"><i class='fas fa-minus'></i></a></span>&nbsp;<span class="orange" style="height: 30px;padding:3px"><%=cart.product[i].units%></span>&nbsp;<span><a href="/cart/plus/<%=cart.cart_item.id%>"><i class='fas fa-plus'></i></a></span></td>
            <td>$<%=((cart.product[i].price*cart.cart_item.units)-((cart.product[i].price*cart.cart_item.units)*cart.product[i].discount/100))%></td>
            <td class="td-accion"><a href="/cart/remove/<%=cart.cart_item.id%>"><i class='fas fa-trash-alt'></i></a></td>
          </tr>
          <%}%>
         <%
         console.log(subtotal);
         taxes=Number(subtotal)*21/100;
         total=subtotal+taxes;
         %>
        </tbody>
      </table>


    </div>
   
    
    <div class="col-12 col-lg-3">
<div style="border: black 1px solid;"><table border="0" style="width: 100%;" >
  <tr><th colspan="2" ><h3>RESUMEN DE COMPRA</h3></th></tr>
  <tr>
      <td>Subtotal</td>
      <td>$<%=subtotal%></td>
  </tr>
  <tr>
    <td>Impuestos</td>
    <td>$<%=taxes%></td>
  </tr>
  <tr>
    <td>Descuentos</td>
    <td>$<%=totalDiscount%></td>
  </tr>
  <tr>
    <td><h4>Total del Pedido</h4></td>
    <td><h4>$<%=cart.total%></h4></td>
  </tr>
  <tr align="center">
    <td colspan="2"><button class="btn-orange">CONFIRMAR SU PEDIDO</button></td>
  </tr>
</table></div>

      </div>
  </div>


 </DIV>

 <%- include('./partials/footer') %>
</body>
</html>

